<% logs_agent_punked.each_with_index do | punk, index| %>

  <% punk_kind = "" %>

  <p>
    <button type="button" data-bind="btn" data-content="<%= index %>"
      <% if punk.way == 'process' %>
        <% if punk.type == 'ok' %>
          class="btn btn-info btn-block"
          <% punk_kind = "process" %>
        <% elsif punk.type == 'ko' %>
          class="btn btn-danger btn-block"
          <% punk_kind = "error" %>
        <% else %>
          class="btn btn-inverse btn-block"
        <% end %>
      <% else %>
        <% if punk.type == 'ok' %>
          class="btn btn-success btn-block"
          <% punk_kind = "com" %>
        <% elsif punk.type == 'ko' %>
          class="btn btn-danger btn-block"
          <% punk_kind = "error" %>
        <% elsif punk.type == 'system' %>
          class="btn btn-info btn-block"
          <% punk_kind = "process" %>
        <% else %>
          class="btn btn-inverse btn-block"
        <% end %>
      <% end %>

      <%
        do_hide = false
        if punk.msg_belong_to != "SERVER"

        end

        if is_log_show_server() != 'true' && punk.msg_belong_to == "SERVER"
          do_hide = true
        end
        if is_log_show_com() != 'true' && punk_kind == "com"
          do_hide = true
        end
        if is_log_show_process() != 'true' && punk_kind == "process"
          do_hide = true
        end
        if is_log_show_error() != 'true' && punk_kind == "error"
          do_hide = true
        end
        if do_hide == true
      %>
        style="display:none"
      <% end %>


      >

      <div class="text-left">
        [<%= punk.start_time %>]
        <%= PUNK.title_to_html(punk.title) %>
      </div>
    </button>

    <div id="btn_title_<%= index %>" style="display:none">
      <textarea>
        <span class="label label-inverse">
          [<%= punk.start_time %>]
          <%= PUNK.title_to_html(punk.title) %>
          (<%= punk.content.size %> lines of log)
        </span>
      </textarea>
    </div>

    <textarea id="btn_content_<%= index %>" style="display:none">
      <% if punk.content.size > 0 %>
        <%= punk.content.map {|line| line.to_json} %>
      <% else %>
        ["No details available"]
      <% end %>
    </textarea>
  </p>

<% end %>


<% crashed = PUNK.gen_server_crash_title %>
<% if crashed != "" %>
  <button type="button" data-bind="btn" data-content="crash" class="btn btn-danger btn-block">
    <p class="text-left"><b>
       <%= crashed %>
    </b></p>
  </button>

  <div id="btn_title_crash" style="display:none">
    <textarea>
      <span class="label label-important">
        EPIK MASTER CRASH FAIL
      </span>
    </textarea>
  </div>

  <textarea id="btn_content_crash" style="display:none">
    <%= logs_server %>
  </textarea>
<% end %>

<% if PUNK.gen_loading_action != nil %>
  <i class="icon-spinner icon-spin icon-2x"></i> <%= PUNK.gen_loading_action %>
<% end %>