
<span class="label label-error">
  <%= @cur_agent.agent_stats['total_received'] %>
</span>
  received.

  <% if @cur_agent.agent_stats['total_error'] == nil || @cur_agent.agent_stats['total_error'] == 0 %>
  <%= '<span class="label label-error">' %>
  <% else %>
  <%= '<span class="label label-important">' %>
  <% end %>
  <%= @cur_agent.agent_stats['total_error'] %>
</span>
error.

<span class="label label-error">
  <%= @cur_agent.agent_stats['total_sent'] %>
</span>
sent
<br>
Average process time :
<span class="label label-error">
  <% if @cur_agent && @cur_agent.agent_stats['process_time'] %>
    <%= "%5.1f" % (1000.0 * (@cur_agent.agent_stats['process_time'].inject(0){|sum,item| sum + item}) / (@cur_agent.agent_stats['total_received'] - @cur_agent.agent_stats['total_error'])) %>
  <% else %>
    ??
  <% end %>
  ms
</span>
