<!DOCTYPE html>

<!--
  Xavier Demompion : xavier.demompion@mobile-devices.fr
  Mobile Devices 2013
-->


<head>
  <title>MDI SDK Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="/css/server_admin.css" media="screen">

  <!-- Highlight in documentation -->
  <link rel="stylesheet" href="/css/railcast.css" media="screen">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">

  <!-- font awsome -->
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

  <script src="/js/jquery.js"></script>
  <script src="/js/highlight.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <meta charset="utf-8" />

<!--
  <meta http-equiv="refresh" content="1">
-->

  <style>
  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
  </style>
</head>



<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="">
              <img src="/img/shutterstock_105420140_35.png" class="img-rounded">
            </li>
            <li class="">
              <a href="#"><%= get_sdk_version %></a>
            </li>
            <li class="<% if @active_tab=='projects'%><%= 'active' %><% end %>">
              <a href="./projects"><i class="icon-th-large icon-white"></i> SDK Agents</a>
            </li>
            <li class="<% if @active_tab=='logSdkAgentsPunk'%><%= 'active' %><% end %>">
              <a href="./logSdkAgentsPunk#endlog"><i class="icon-medkit icon-white"></i> Server Log</a>
            </li>
            <li class="<% if @active_tab=='unit_tests'%><%= 'active' %><% end %>">
              <a href="./unit_tests"><i class="icon-check icon-white"></i> Unit tests</a>
            </li>
          </ul>

          <ul class="nav pull-right">
            <li>
              <a href="./doc/_index.html" target="_blank"><i class="icon-book icon-white"></i> Documentation</a>
            </li>
            <li class="" style="height:40px">
              <form action="/restart_server" method="get" class="form-inline">
                <input name="reset_logs" type="hidden" value="on">

                <input name="redirect_to" type="hidden"
                <% if @active_tab=='projects'%>value="/projects"<% end %>
                <% if @active_tab=='logSdkAgentsPunk'%>value="/logSdkAgentsPunk#endlog"<% end %>
                <% if @active_tab=='patch_note'%>value="/patch_note"<% end %>
                >

                <button id="btn-server-reboot"
                <% if PUNK.gen_server_crash_title != '' %>
                  class="btn btn-danger"
                <% else %>
                  class="btn btn-primary"
                <% end %>
                >
                  <% if PUNK.is_ruby_server_running %>
                    <i class="icon-off large icon-white icon-large icon-spin"> </i> - reboot ruby server
                  <% else %>
                    <i class="icon-off large icon-white icon-large"> </i> - start ruby server
                  <% end %>
                </button>

              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <div style="padding-bottom:50px"></div>





</body>


<!-- Scripts ===================================================================-->
  <script>

    $( document ).ready(function() {
      (function layout() {
        (function updater() {
          $.ajax({
            url: '/gen_ruby_server_reboot',
            type: "GET",
            dataType: "json",
            success: function(data) {
              // bouton color
              if (data.crash) {
                $('#btn-server-reboot').attr("class","btn btn-danger");
              } else {
                $('#btn-server-reboot').attr("class","btn btn-primary");
              }
              // bouton content
              if (data.running) {
                $('#btn-server-reboot').html('<i class="icon-off large icon-white icon-large icon-spin"> </i> - reboot ruby server');
              } else {
                $('#btn-server-reboot').html('<i class="icon-off large icon-white icon-large"> </i> - start ruby server');
              }
            },
            error: function(xhr, status, errorThrown) {
              console.error("Error: " + status + " (" + errorThrown + ") ---- " + xhr)
            },
            complete: function() {
              setTimeout(updater, 2000);
            }
          });
        })(); // function updater and run it
      })(); // function layout and run it
    }); // $( document ).ready

  </script>
<!-- End scripts ===============================================================-->
