<!--
  Xavier Demompion : xavier.demompion@mobile-devices.fr
  Mobile Devices 2013
-->

<div class="well info row well-small">
  <i class="icon-th"></i> : SERVER
  <i class="icon-star"></i> : PRESENCE
  <i class="icon-envelope"></i> : MESSAGE
  <i class="icon-th-list"></i> TRACK
  <i class="icon-fire"></i> : ORDER
  <i class="icon-share"></i> : ACK

<!--
<br/><br/>
<em>Plain text log can be found in ruby_workspace/sdk_logs/ruby-agent-sdk-server.log file.</em>
-->
</div>

<div class="row-fluid">

  <div class="span4">

    <% logs_agent_punked.each_with_index do | punk, index| %>

    <p>
      <button type="button" data-bind="btn" data-content="btn_content_<%= index %>"
        <% if punk.way == 'proccess' %>
          <% if punk.type == 'ok' %>
              class="btn btn-info btn-block"
          <% elsif punk.type == 'ko' %>
             class="btn btn-danger btn-block"
          <% else %>
             class="btn btn-inverse btn-block"
          <% end %>
        <% else %>
          <% if punk.type == 'ok' %>
              class="btn btn-success btn-block"
          <% elsif punk.type == 'ko' %>
             class="btn btn-danger btn-block"
          <% elsif punk.type == 'system' %>
             class="btn btn-info btn-block"
          <% else %>
             class="btn btn-inverse btn-block"
          <% end %>
        <% end %>
        >

        <p class="text-left"><b>
          [<%= punk.start_time %>]
           <%= PUNK.title_to_html(punk.title) %>
        </b></p>

      </button>

      <textarea id="btn_content_<%= index %>" style="display:none">
        <%= punk.content %>
      </textarea>
    </p>

    <% end %>


    <% crashed = PUNK.gen_server_crash_title %>
    <% if crashed != "" %>
      <button type="button" data-bind="btn" data-content="<%= logs_server %>" class="btn btn-danger btn-block">
        <p class="text-left"><b>
           <%= crashed %>
        </b></p>
      </button>
    <% end %>

  </div>

  <div class="span8">
    <small>
      <div id="view_code" class="" data-spy="affix" data-offset-top="40" style="width:1200px">
        <i class="icon-arrow-left"></i><em> Click on buttons for details.</em>
      </div>
    </small>
  </div>
</div>

<section id="endlog"></section>


<script>
  function escapeHTML(text) {   return text.replace(/[&<>"'`]/g, function (chr) {     return '&#' + chr.charCodeAt(0) + ';';   }); };

  $(document).ready(function() {

    $("button[data-bind=btn]").bind('click', function() {
      var content = $('#' + $(this).data('content'));
      var lines   = JSON.parse(content.text());
      var sanitizedLines = lines.map(function(line){ return escapeHTML(line) });
      $("#view_code").html(sanitizedLines.join('<br />'));
    });

  });
</script>