<!--
  Xavier Demompion : xavier.demompion@mobile-devices.fr
  Mobile Devices 2013
-->

<!-- Modal (POPUP) ==============================================================-->
<% if @action_popup == 1 %>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Welcome to the Mobile Devices SDK VM!</h3>
  </div>
  <div class="modal-body">
    <p>
      This is the first time this VM is launched.<br>
      I strongly recommend that you have a look at the documentation.
    </p>
  </div>
  <div class="modal-footer">
    <a id="myModal_btn" class="btn btn-primary" href="/doc/file.README.html" target="_blank">See documentation</a>
    <a class="btn btn-primary" href="/">No thanks</a>
  </div>
</div>
<% end %>
<% if @action_popup == 2 %>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">SDK VM update !</h3>
  </div>
  <div class="modal-body">
    <p>
      The version of your SDK VM has changed !<br>
      Maybe there is valuable information for you on the patch note page.
    </p>
  </div>
  <div class="modal-footer">
    <a id="myModal_btn" class="btn btn-primary" href="/patch_note" target="_blank">See changes</a>
    <a class="btn btn-primary" href="/">No thanks</a>
  </div>
</div>
<% end %>
<% if @error_popup_msg != nil %>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header alert-error">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Error</h3>
  </div>
  <div class="modal-body">
    <p>
      <%= @error_popup_msg %>
    </p>
  </div>
  <div class="modal-footer">
    <a id="myModal_btn" class="btn btn-primary" href="/">Ok</a>
  </div>
</div>
<% end %>
<% if flash[:notice] %>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%=flash[:notice]%>
    </div>
<% end %>
<!-- End modal ===================================================================-->

<!-- Server stats basic ========================================================-->
<div class="well row" id="basic_stats">
  <!-- to avoid miss first loading -->
  <%= http_get("http://localhost:5000/gen_basic_stats") %>
</div>

<br/>
<!-- End server stats basic ====================================================-->

<!-- Main display ==============================================================-->
<div id="main_display">
  <% if is_show_more_stats == 'true' %>
    <%= erb :gen_sdk_stats_to_array, layout: false %>
  <% else %>
      <%= erb :gen_agents_table, layout: false %>
  <% end %>
</div>
<!-- End Main display ==========================================================-->

<!-- Create agent display ======================================================-->
<% if is_show_more_stats != 'true' %>
  <div id="create_display">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Agent name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <form action="/create_agents" method="post">
          <td><input type="text" name="agent[name]"/></td>
          <td><button class="btn btn-info">Create agent</button></td></form>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
<!-- End Create agent display ==================================================-->


<!-- Scripts ===================================================================-->
<% if @action_popup != 0 || @error_popup_msg != ""%>
  <script>
    $(document).ready(function() {

      // manage dynamic change of button list
      (function projects() {
        (function updater() {
          $.ajax({
            url: '/gen_basic_stats',
            type: "GET",
            success: function(data) {
              $('#basic_stats').html(data);
            },
            error: function(xhr, status, errorThrown) {
              console.error("Error: " + status + " (" + errorThrown + ") ---- " + xhr)
            },
            complete: function() {
              setTimeout(updater, 1000);

            }
          });
        })(); // function updater and run it
        (function updater_main_view() {
          $.ajax({
            url: '/gen_main_display',
            type: "GET",
            success: function(data) {
              $('#main_display').html(data);
            },
            error: function(xhr, status, errorThrown) {
              console.error("Error: " + status + " (" + errorThrown + ") ---- " + xhr)
            },
            complete: function() {
              setTimeout(updater_main_view, 1000);

            }
          });
        })(); // function updater and run it

      })(); // function projects and run it



      // Show popup
      var modal = $('#myModal').modal('show');
      // Focus on ok bouton
      modal.on('shown', function () {
        $('#myModal_btn').focus();
      })

      $('#myModal_btn').click(function(){
        $('#myModal').modal('hide')
      })

    });
  </script>
<% end %>
<!-- End scripts ===============================================================-->
